.pets-btn {
  background: $primary-color;
  border-radius: $radius;
  border: none;
  color: $text-color-white;
  cursor: pointer;
  height: 44px;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  width: 100%;

  &--secondary {
    background-color: transparent;
    border: 2px solid $primary-color;
    color: $primary-color;
  }

  &--link {
    background-color: transparent;
    border: none;
    color: $orange-color;
  }
}
