$primary-color: #592848;
$secondary-color: #fff4e7;
$text-color: #484848;
$text-color-white: #fffaf4;
$orange-color: #ffa22d;
$error-color: #f56b6b;

$padding-unit: 1.4rem;
$margin-unit: 3rem;
$radius: 1.4rem;

$input-text-color: #383838;
$input-border-color: #f5b86b;
